<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hellow World!</h1>
    <h3>Links</h3>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about"> About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
    <h2>Hello <%= nama%></h2>
    <h3>Daftar Mahasiswa</h3>
    <% if (mahasiswa.length <1) { %>
    <p>Data mahasiswa masih kosong</p>
    <% } else { %> <% mahasiswa.forEach(mhs => { %>
    <ul>
      <li>nama: <%= mhs.nama %></li>
      <li>email: <%= mhs.email %></li>
    </ul>
    <% }) %> <% } %>
    <p>Welcome to my porto site, i hope i can be the great backend engineer</p>
  </body>
</html>
